
@{
    ViewBag.Title = "SalaryReport";
}
 <script src="~/Content/dataTables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/dataTables/datatables.min.js"></script>
<script src="~/Content/pages/Salary.js"></script>


<h2>Salary Report of Employee</h2>
<br />

<label>Employee Name</label>
<select class="form-control" id="ddlEmployee">
</select>
<label>From Date</label>
<input type="date" class="form-control" id="FromDate">
<br />
<label>To Date</label>
<input type="date" class="form-control" id="Todate">
<br />
<input type="button" value="Search" onclick="getEmployeeSalReport()" />
<br />




<div class="col-sm-12 ">
    <h2>DateWise Salary Report</h2> - <input type="button" value="Export To Excel" onclick="ExporttoExcel()" />
    <table id="tbl_salaryrep" class="table table-striped table-bordered dt-responsive nowrap" border="1">
        <thead>
        <th>Transaction Id</th>
        <th>EmployeeId</th>
        <th>Fisrt Name</th>
        <th>Last Name</th>
        <th>Salary</th>
        <th>Description</th>
        <th></th>
        </thead>
        <tbody></tbody>
    </table>

</div>




